name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags:
      - '*.*.*'
      - '*.*.*-*.*'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      PACK_NAME: ""
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pack
        run: |
          if [ ! $PACK_NAME ]; then
              PACK_NAME=${GITHUB_REPOSITORY##*/} 
          fi
          echo "PACK_NAME=$PACK_NAME" >> $GITHUB_ENV
          cd $PACK_NAME
          zip -r ../$PACK_NAME.opk ./
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: ${{ env.PACK_NAME }}.opk
      - name: Draft Release
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          files: |
            ./${{ env.PACK_NAME }}.opk
